// Overridden styles

.github-fork-ribbon {
  position: fixed;
  font-size: 0.8rem;
  border-bottom: none;
  z-index: 1;
}

.github-fork-ribbon:before, .github-fork-ribbon:after {
  background-color: $secondary-color;
  box-sizing: content-box;
}
