html {
  color: $off-white;
  box-sizing: border-box;
  font-family: Roboto, 'Open Sans', Arial;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

.logo {
  font-family: 'Source Code Pro';
  font-weight: 300;
}
