html {
  color: $off-white;
  box-sizing: border-box;
  height: 100%;
  font-family: Roboto, 'Open Sans', Arial;
  font-size: 11px;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

// Non-home page logo

.logo {
  font-family: $alternate-font;
  font-weight: 300;
}

// Primary header

.primary-header {
  color: $secondary-color;
  font-size: 2.5em;
  font-family: $alternate-font;
}

.required {
  color: $error;
}

// Flash stylings

%flash {
  position: absolute;
  display: block;
  width: 100%;
  padding: 2px 0;
  text-align: center;
}

.flash--info {
  @extend %flash;
  background-color: $success;
}

.flash--error {
  @extend %flash;
  background-color: $error;
}
