// Primary logo that sits in the middle of the page

.primary-logo {
  font-family: $alternate-font;
  font-weight: 700;
  font-size: 11rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span:first-child {
    background-image: url('/images/code.png');
    background-position: 0% 7%;
    background-size: 320%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  span:nth-child(2) {
    color: $primary-color;
  }
}

// Navs

.primary-nav {
  box-shadow: none;
  padding: 0 3.5rem;
  background: transparent;
  font-size: 1.4rem;
}

.primary-nav__home-icon {
  font-size: 1em;

  .logo {
    font-size: 1.3em;
  }
}

.primary-nav__link {
  color: $secondary-color;
}

.secondary-background {
  .primary-nav {
    background: $primary-color;
  }

  .primary-nav__link {
    color: $off-white;
  }
}

// Groups

// Home page components

.home-content__join, .home-content__about-us {
  width: 22.5rem;
}

.home-content__join {
  color: $secondary-color;
  text-align: right;
}

.home-content__details {
  @extend .flow-text;
  font-size: 1.2em;

  .logo {
    font-weight: 400;
    font-size: 1.1em;
  }

  > span {
    color: $secondary-color;
  }
}

// Signin and Thanks page components

.thanks-content {
  text-align: center;
}

.signin-content__header, .thanks-content__header {
  color: $secondary-color;
}

.signin-content__detail, .thanks-content__detail {
  font-size: 1.3em;
  color: color("blue-grey", "lighten-1");
}

// Apply page components

.apply-form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    width: 50%;
    padding: 0 2em;
  }

  > div:nth-child(odd) {
    label {
      color: $off-white;
    }
    input {
      color: $off-white;
      border-bottom-color: $off-white;
    }
    ::-webkit-input-placeholder {
      color: $secondary-color;
    }
  }
}

.apply-header {
  width: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  > div {
    width: 50%;
    padding: 0 2em;
  }
}

.apply-header__header {
  margin : 0;
}

.apply-header__description {
  color: $secondary-color;
}

.apply-form__button-wrapper {
  padding: 4em;
  text-align: center;
}

.apply-form__button {
  padding: 0 5em;
}

.apply-form-fields .checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  > label {
    width: 50%;
  }
}

// Groups

.groups {
  .primary-header {
    color: $secondary-color;
  }

  form {
    width: 100%;
  }

  textarea {
    height: 7em;
  }

  .btn {
    margin-top: 15px;
  }
}

// Additional Github Fork Ribbon stylings

.github-fork-ribbon {
  font-size: 0.8rem;
  border-bottom: none;
  z-index: 1;
}

.github-fork-ribbon:before, .github-fork-ribbon:after {
  background-color: $secondary-color;
  box-sizing: content-box;
}
