// Page wrapper for all pages

.page {
  position: relative;
}

.primary-background {
  position: relative;
  min-height: 100vh;
  background:
    linear-gradient(
      to right,
      $primary-color 50vw,
      $off-white 50vw
    );
}

.secondary-background {
  position: relative;
  min-height: 100vh;
  background-color: $off-white;
  color: $secondary-color;
}

// Content placeholder
%content {
  padding: 0 3.5rem;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 10rem);
  width: 100vw;
}

// Home page

.home-content {
  @extend %content;
  flex-direction: row;
  justify-content: space-between;
}

// Signin page

.signin-content {
  @extend %content;
  flex-direction: column;
  justify-content: space-between;
}

// Apply page

.apply-content {
  @extend %content;
  display: block;
}

// Thanks page

.thanks-content {
  @extend %content;
  flex-direction: column;
  justify-content: space-between;
}

// Any group page

.vertical-page {
  @extend %content;
  flex-direction: column;
}
