// Page wrapper for all pages

.page {
  position: relative;
}

.primary-background {
  position: relative;
  min-height: 100vh;
  background:
    linear-gradient(
      to right,
      $primary-color 50vw,
      $off-white 50vw
    );
}

.secondary-background {
  position: relative;
  min-height: 100vh;
  background-color: $off-white;
  color: $secondary-color;
}

.base-layout {
  padding: 0 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 10rem);
  width: 100vw;
}

// Home page

.home-content {
  @extend .base-layout;
  flex-direction: row;
  justify-content: space-between;

  > div {
    width: 22.5rem;
  }

  > div:nth-child(2) {
    text-align: right;
  }
}

// Signin page

.signin-content {
  @extend .base-layout;
  justify-content: space-between;
}

// Apply page

.apply-content {
  @extend .base-layout;
  display: block;
}

// Thanks page

.thanks-content {
  @extend .base-layout;
  justify-content: space-between;
}
