.page {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(
      to right,
      $primary-color 50vw,
      $off-white 50vw
    );
}

.primary-logo {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span:first-child {
    background-image: url('/images/code.png');
    background-position: 0% 7%;
    background-size: 320%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  span:nth-child(2) {
    color: $primary-color;
  }
}

.primary-nav {
  box-shadow: none;
  padding: 0 3.5em;
  background:
    linear-gradient(
      to right,
      $primary-color 50vw,
      $off-white 50vw
    );
}

.primary-nav__home-icon {
  font-size: 1.4em;

  .logo {
    font-size: 1.3em;
  }
}
