// Variables not seen here can be found in materialize/components/_variables.scss

$off-white: color("grey", "lighten-5");

$primary-text: color("grey", "darken-4");
$secondary-text: color("grey", "darken-1");
$divider-color: color("grey", "lighten-1");

$success: rgb(105, 212, 119);
$error: $error-color;
$alternate-font: 'Source Code Pro';
