<div class="secondary-background">
  <%= render Org.SharedView, "nav.html", assigns %>

  <div class="base-layout">
    <h2 class="primary-header">New Group</h2>
    <section class="base-form">
      <%= render "form.html", changeset: @changeset, action: group_path(@conn, :create) %>
    </section>
  </div>
</div>
