<nav class="primary-nav">
  <a href="/">
    <span class="logo">{az}</span> Web Developers
  </a>
  <%= if @current_user do %>
    <span>
      <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
    </span>
  <% else %>
    <a class="btn" href="<%= auth_path @conn, :index, "github" %>">
      Sign in
    </a>
  <% end %>
</nav>
